@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

@font-face {
	font-family: 'iconfont';
    src: url('/s/iconfont/iconfont.eot');
    src: url('/s/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/s/iconfont/iconfont.woff') format('woff'), 
    url('/s/iconfont/iconfont.ttf') format('truetype'), 
    url('/s/iconfont/iconfont.svg#iconfont') format('svg'); 
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
